body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    font-size: 1em;
}

.ui-draggable, .ui-droppable {
    background-position: top;
}

.styled-select {
    width: 214px !important;
    height: 30px;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
    border-radius: 19px;
    padding: 4px 4px 4px 14px;
}
